# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\tianyilt\OneDrive - mail.ecust.edu.cn\project2\ecnu_chli\ECNU_PG_CourseShare\计算机科学与技术\计算机视觉\作业\homework\assignment4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
